<div class="containter">
<h2>GIFS</h2>
  <ul>
    <li>Lorem ipsum dolordatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    <li>consectetur adipisicing elit,</li>
    <li>isi ut aliquip ex ea commodo cons</li>
    <li>liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nequat. Duis aute irure dolor in rep</li>
    <li> sit amet sed do eiusmod tempor incididunt ut labore et dolore magna arehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupi</li>
  </ul>
</div>
